absl-py==2.1.0
altair==5.5.0
Babel 
beautifulsoup4
bleach 
blinker==1.9.0
boltons 
Brotli 
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.8.30
cffi==1.17.1
chardet 
charset-normalizer==3.4.0
click
cmake==3.31.1
colorama==0.4.6
comm 
cssselect2==0.7.0
cycler==0.12.1
debugpy 
decorator 
defusedxml==0.7.1
distro
executing
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.68.1
h11 
h5py==3.12.1
httpcore 
httpx
huggingface-hub==0.26.5
idna==3.10
intake 
ipykernel
ipython 
jaraco.classes 
jedi
Jinja2 
joblib==1.4.2
json5 
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications 
jupyter-events
keras==3.7.0
keyring
kiwisolver==1.4.7
libarchive-c
libclang==18.1.1
libmambapy
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline 
mdurl==0.1.2
menuinst
mistune
ml-dtypes==0.4.1
more-itertools 
mpmath
multidict
namex==0.0.8
narwhals==1.17.0
navigator-updater
nbclient
nbconvert 
nbformat
nest-asyncio
networkx
nltk==3.9.1
notebook
notebook_shim
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
overrides
packaging==24.2
pandas==2.2.3
pandocfilters
parso 
pillow==10.4.0
pkce 
pkginfo 
platformdirs
pluggy 
ply
prometheus-client 
prompt-toolkit
protobuf==5.29.1
psutil
pure-eval
py-avataaars==1.1.2
pyarrow==18.1.0
pycairo==1.27.0
pycosat 
pycparser==2.22
pydantic
pydantic-settings 
pydantic_core 
pydeck==0.9.1
Pygments==2.18.0
PyJWT
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
pywin32==305.1
pywin32-ctypes
pywinpty 
PyYAML==6.0.2
pyzmq
QtPy 
readchar 
referencing 
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
safetensors==0.4.5
semver 
Send2Trash
setuptools==75.6.0
shellingham 
sip
smmap==5.0.1
sniffio 
soupsieve
stack-data
streamlit==1.41.0
streamlit-avatar==0.1.3
sympy==1.13.1
tabulate
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado 
textblob==0.18.0.post0
tf_keras==2.18.0
tinycss2==1.4.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm==4.67.1
traitlets 
transformers==4.47.0
truststore 
typer 
typing_extensions==4.12.2
tzdata==2024.2
ujson 
urllib3==2.2.3
watchdog==6.0.0
wcwidth 
webencodings==0.5.1
websocket-client
Werkzeug==3.1.3
wheel==0.45.1
win-inet-pton 
wrapt==1.17.0
yarl 
zstandard 
